# clang auto-selects the highest GCC toolchain (14), but only GCC 13 has the
# libstdc++ headers installed (/usr/include/c++/13). Pin clangd to GCC 13 so it
# can find <iostream> etc. (the actual g++ build is unaffected by this file). OBS.: solved by sudo apt `install libstdc++-14-dev`.
# CompileFlags:
#  Add: [--gcc-install-dir=/usr/lib/gcc/x86_64-linux-gnu/13] -->
# ---
If:
  PathMatch: .*\.h
CompileFlags:
  Add: [-x, c++]
---
If:
  PathMatch: .*\.cpp
CompileFlags:
  Add: [
    "-std=c++23",
    "-g", 
    "-Wall",
    "-Wextra",
    "-Wvla-cxx-extension",
    "-I./problems",
    "-I./utils",

  ]
---
Diagnostics:
  Suppress: ["pp_including_mainfile_in_preamble"]
---
InlayHints:
  Enabled: Yes
  ParameterNames: No
  DeducedTypes: YES